/* ------------------*\
    Common Css
\*-------------------*/
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: #3a3a3a; */
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
/* ------------------*\
    Custom Fonts
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600;700&display=swap");

/* ------------------*\
    Variables 
\*-------------------*/

:root {
  /* colors */
  --primary-color: #fff;
  --text-heading-color: #3a3a3a;
  --text-paragraph-color: #787885;
  --btn-color: #f9440a;
  --btn-hover-color: #de2800;
  --icon-border-color: #22213c;
  --footer-background: #0a0826;

  /* fonts */
  --primary-fonts: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

/* ------------------*\
    Common Class
\*-------------------*/
body {
  font-family: var(--primary-fonts);
  background-color: var(--primary-color);
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.btn {
  background-color: var(--btn-color);
  color: var(--primary-color);
  transition: all linear 0.3s;
  font-family: var(--secondary-fonts);
}
.btn i {
  transition: all linear 0.3s;
}
.btn:hover {
  background-color: var(--btn-hover-color);
}
.btn:hover i {
  transform: translateX(5px);
}
.space {
  padding: 50px 0;
}
.narrow_padding {
  margin: 0 35px;
}

/* ------------------*\
    Header Section
\*-------------------*/
header {
  display: flex;
  justify-content: space-between;
}
.logo a {
  color: var(--text-heading-color);
  font: 600 24px var(--primary-fonts);
}
nav {
  display: flex;
  gap: 25px;
}
.responsive_nav {
  display: none;
}
nav ul {
  display: flex;
  gap: 25px;
}
nav ul li:nth-child(5) a,
nav ul li:nth-child(6) a {
  font-size: 1.2rem;
  font-weight: normal;
}
nav ul li a {
  color: var(--text-heading-color);
  font-weight: 600;
}

/* ------------------*\
    Hero Section
\*-------------------*/
.hero_section {
  display: flex;
  align-items: center;
  gap: 130px;
}
.hero_text h1 {
  font-size: 52px;
  line-height: 72px;
}
.hero_text p {
  padding: 16px 0;
  line-height: 24px;
}
.hero_text a {
  margin-top: 13px;
  display: inline-block;
  padding: 10px 24px;
  font-weight: bold;
  border-radius: 50px;
}
.hero_text a i {
  font-size: 15px;
  padding-left: 10px;
}

.hero_img img {
  transition: all linear 0.3s;
  max-width: 440px;
  border-radius: 600px;
}
.hero_img:hover img {
  transform: scale(1.1);
}

/* ------------------*\
    Brand logo Section
\*-------------------*/
.brand_logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 25px 0;
  border-top: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(60 55 55 / 49%) 52%,
    rgb(255 255 255 / 0%) 100%
  );
  border-bottom: 1px solid;
  border-image-slice: 1;
  flex-wrap: wrap;
}
.brand_logo img:hover {
  transform: scale(1.1);
}
.brand_logo img {
  transition: all linear 0.2s;
}
/* ------------------*\
    Collectin Section
\*-------------------*/

.collection_title {
  text-align: center;
  padding-bottom: 30px;
  line-height: 70px;
  font-weight: 600;
  font-size: 28px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.single_products {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.single_products img {
  width: 100%;
}
.single_products > a {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  padding: 5px 0 5px;
  text-transform: capitalize;
  color: var(--text-heading-color);
}
.single_products > h3 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  line-height: 36px;
  font-family: var(--secondary-font);
}
.single_products .raging {
  display: flex;
  gap: 8px;
  font-size: 14px;
  padding-bottom: 5px;
}
.single_products .rating {
  color: rgba(251, 130, 0, 1);
}
.rate_number {
  color: #5e6366;
}
.products_shor_dis {
  font-size: 14px;
  color: var(--text-paragraph-color);
  line-height: 21px;
  font-weight: bold;
  padding: 0 35px 0 0;
}
.seemore {
  display: block;
  margin-top: 45px;
  padding: 5px 0;
  text-align: right;
  color: var(--btn-color);
  transition: all linear 0.2s;
}
.seemore:hover i {
  transform: translateX(5px);
}
.seemore:hover {
  color: var(--btn-hover-color);
}
.seemore i {
  padding-right: 10px;
  font-size: 15px;
  transition: all linear 0.3s;
}
/* ------------------*\
    Contact us Section
\*-------------------*/
.contact {
  display: flex;
}
.form_text {
  width: 50%;
}
.form_text h1 {
  font-size: 45px;
  line-height: 72px;
}
.form_text p {
  font-family: var(--secondary-font);
  color: var(--text-paragraph-color);
}
.form_text ul {
  padding-top: 60px;
}
.form_text ul li a {
  display: inline-block;
  color: var(--btn-hover-color);
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
}
.form_text ul li a i {
  padding-right: 10px;
}
.contact > form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact > form .name,
.contact > form .email {
  width: 40%;
}
.contact > form input {
  display: block;
  border: none;
  border-bottom: 1px solid;
  padding-top: 10px;
  width: 100%;
  padding-left: 15px;
}
.massage {
  padding-top: 60px;
  width: 100%;
}
.massage textarea {
  width: inherit;
  border: none;
  border-bottom: 1px solid;
  padding-left: 15px;
}

.contact > form button {
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: capitalize;
}

.contact > form button i {
  padding-left: 5px;
}
/* ------------------*\
    Footer Section
\*-------------------*/
footer {
  background: var(--footer-background);
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
.footer_social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer h1 {
  font-size: 30px;
  line-height: 38px;
  padding-bottom: 5px;
}
footer p {
  font-size: 14px;
  line-height: 24px;
}
footer ul {
  padding-top: 20px;
}
footer ul li a {
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: var(--icon-border-color);
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* ------------------*\
    Responsive
\*-------------------*/

/* Mobile View */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  .narrow_padding {
    margin: 0;
  }
  header {
    justify-content: flex-start;
    width: 100%;
  }
  .logo {
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo a {
    font-size: 16px;
  }
  nav {
    align-items: center;
  }
  .responsive_nav {
    display: inline-block;
    color: var(--text-heading-color);
  }
  nav .main_manu {
    display: none;
  }
  .cart {
    position: absolute;
    right: 5%;
  }
  .hero_section {
    flex-direction: column;
    text-align: center;
    gap: 14px;
  }
  .hero_text {
    order: 2;
  }
  .hero_text h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .hero_text p {
    font-size: 14px;
    line-height: 21px;
  }
  .hero_img img {
    width: 90%;
  }
  /* brand section */
  .brand_logo {
    text-align: center;
    justify-content: center;
    gap: 10px;
  }
  .brand_logo img {
    width: 20%;
  }
  /* collection */
  .collection {
    padding: 0;
  }

  .products {
    grid-template-columns: 1fr;
  }
  /* contact */
  .contact {
    flex-direction: column;
  }
  .form_text {
    width: auto;
    text-align: center;
  }
  .form_text h1 {
    font-size: 35px;
    line-height: 1;
  }
  .form_text p {
    font-size: 14px;
  }
  .form_text ul {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .contact > form {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
  }
  .contact > form .name,
  .contact > form .email {
    padding-top: 30px;
    width: 100%;
  }
  .contact > form button {
    margin: 30px 0;
  }
}
/* Tablate view */
@media only screen and (max-width: 760px) and (min-width: 600px) {
  .container {
    max-width: 90%;
    overflow: hidden;
  }
  .narrow_padding {
    margin: 0;
  }
  header {
    justify-content: flex-start;
    width: 100%;
  }
  .logo {
    order: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo a {
    font-size: 26px;
  }
  nav {
    align-items: center;
  }
  .responsive_nav {
    display: inline-block;
    color: var(--text-heading-color);
  }
  nav .main_manu {
    display: none;
  }
  .cart {
    position: absolute;
    right: 5%;
  }
  .hero_section {
    flex-direction: column;
    text-align: center;
    gap: 14px;
  }
  .hero_text {
    order: 2;
  }
  .hero_text h1 {
    font-size: 28px;
    line-height: 42px;
  }
  .hero_text p {
    font-size: 14px;
    line-height: 21px;
  }
  .hero_img img {
    width: 100%;
  }
  /* brand section */
  .brand_logo {
    text-align: center;
    justify-content: center;
    gap: 25px;
  }
  .brand_logo img {
    width: 15%;
  }
  /* collection */
  .collection {
    padding: 0;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }
  /* contact */
  .contact {
    flex-direction: column;
  }
  .form_text {
    width: auto;
    text-align: center;
  }
  .form_text h1 {
    font-size: 35px;
    line-height: 1.2;
  }
  .form_text p {
    font-size: 14px;
  }
  .form_text ul {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .contact > form {
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
  }
  .contact > form .name,
  .contact > form .email {
    padding-top: 30px;
    width: 100%;
  }
  .contact > form button {
    margin: 30px 0;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 760px) {
  .container {
    max-width: 90%;
  }
}
