/* ------------------*\
    Common Css
\*-------------------*/
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: #3a3a3a; */
}
input:focus,
button:focus {
  outline: none;
}
/* ------------------*\
    Custom Fonts
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600;700&display=swap");

/* ------------------*\
    Variables 
\*-------------------*/

:root {
  /* colors */
  --primary-color: #fff;
  --text-heading-color: #3a3a3a;
  --text-paragraph-color: #787885;
  --btn-color: #f9440a;
  --btn-hover-color: #de2800;
  --icon-border-color: #22213c;
  --footer-background: #0a0826;

  /* fonts */
  --primary-fonts: "Poppins", sans-serif;
  --secondary-font: "Inter", sans-serif;
}

/* ------------------*\
    Common Class
\*-------------------*/
body {
  font-family: var(--primary-fonts);
  background-color: var(--primary-color);
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.btn {
  background-color: var(--btn-color);
  color: var(--primary-color);
  transition: all linear 0.3s;
  font-family: var(--secondary-fonts);
}
.btn:hover {
  background-color: var(--btn-hover-color);
}
.space {
  padding: 50px 0;
}
.narrow_padding {
  margin: 0 35px;
}

/* ------------------*\
    Header Section
\*-------------------*/
header {
  display: flex;
  justify-content: space-between;
}
.logo a {
  color: var(--text-heading-color);
  font: 600 24px var(--primary-fonts);
}
nav ul {
  display: flex;
  gap: 25px;
}
nav ul li:nth-child(5) a,
nav ul li:nth-child(6) a {
  font-size: 1.2rem;
  font-weight: normal;
}
nav ul li a {
  color: var(--text-heading-color);
  font-weight: 600;
}

/* ------------------*\
    Hero Section
\*-------------------*/
.hero_section {
  display: flex;
  align-items: center;
  gap: 130px;
}
.hero_text h1 {
  font-size: 52px;
  line-height: 72px;
  font-weight: 700;
}
.hero_text p {
  padding: 16px 0;
  line-height: 24px;
}
.hero_text a {
  margin-top: 13px;
  display: inline-block;
  padding: 10px 24px;
  font-weight: bold;
  border-radius: 50px;
}
.hero_text a i {
  font-size: 15px;
  padding-left: 10px;
}

.hero_img img {
  max-width: 440px;
}

/* ------------------*\
    Brand logo Section
\*-------------------*/
.brand_logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 25px 0;
  border-top: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0%,
    rgb(60 55 55 / 49%) 52%,
    rgb(255 255 255 / 0%) 100%
  );
  border-bottom: 1px solid;
  border-image-slice: 1;
}
